<!DOCTYPE html>
<html lang="en">
<head>
  <title>www.pixelrebirth.com</title>
  <meta charset="utf-8">
  <meta name = "format-detection" content = "telephone=no" />
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/touchTouch.css">
  <link rel="stylesheet" href="css/contact-form.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/ng-modal.css">
  <style>[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important;}</style>
  <script src="js/jquery.js"></script>
  <script src="js/jquery-migrate-1.2.1.js"></script>
  <script src="js/jquery.equalheights.js"></script>
  <script src="js/touchTouch.jquery.js"></script>
  <script src="js/TMForm.js"></script>
  <script src="js/modal.js"></script>
  <!--[if (gt IE 9)|!(IE)]><!-->
  <script src="js/wow/wow.js"></script>
  <script>
    $(document).ready(function () {
      if ($('html').hasClass('desktop')) {
        new WOW().init();
      }
    });
  </script>
  <!--<![endif]-->
  <script>
    $(document).ready(function () {
      $('.gallery a').touchTouch();
    });
  </script>
  <script src="js/angular.min.js"></script>
  <script src="js/ng-modal.js"></script>
  <script src="js/MainController.js"></script>
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
    
<!--<![endif]-->
  <!--[if lt IE 8]>
  <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /
  </div>
  <![endif]-->
  <!--[if lt IE 9]>
>
   </a>    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
  <![endif]-->
</head>


<body ng-cloak class="home" ng-app="app" ng-controller="MainController">

<modal-dialog show='myData.techShown' width='310px' dialog-title='Technologist'>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur libero ut velit viverra aliquet ut sit amet est. Proin id tincidunt nisi, commodo tempor augue. Phasellus porttitor dapibus venenatis. Etiam mattis hendrerit odio, non volutpat leo vulputate eu. Curabitur non pharetra purus. Fusce sed semper tortor. Nunc tortor justo, ultrices et sodales quis, semper ut lectus. Duis pellentesque tempor ligula, non pharetra urna blandit pulvinar. Donec lorem turpis, malesuada non dolor ac, malesuada ullamcorper ex. Maecenas tristique sollicitudin luctus. Maecenas ipsum mi, condimentum rhoncus egestas sit amet, vulputate eu quam. Maecenas posuere euismod velit nec dictum. Phasellus mi massa, mollis non velit quis, scelerisque vestibulum lacus. Curabitur in urna nec massa tempus tempor.</p>
</modal-dialog>
<modal-dialog show='myData.artistShown' width='310px' dialog-title='Artist'>
  <p>Sed rutrum scelerisque iaculis. Donec nec convallis massa, et aliquet ex. Sed ornare, libero eu ornare convallis, nulla lorem auctor orci, vitae fermentum est nibh a orci. Curabitur venenatis pharetra dolor, id eleifend purus accumsan sed. Quisque at nunc faucibus, tempus dui sed, molestie nisl. Vivamus mattis leo nec luctus porttitor. Curabitur varius mi eu metus cursus lobortis. Donec tempus justo vitae odio consectetur, eget volutpat quam congue. Phasellus sodales placerat sem, eget interdum ex commodo vel. Quisque vestibulum, metus sed iaculis tincidunt, nulla metus accumsan nulla, a placerat est mauris sed tortor. Cras ipsum arcu, iaculis eget aliquet rhoncus, placerat ultrices arcu. Ut tristique sodales leo, suscipit ultricies leo vestibulum in. Suspendisse suscipit sapien at consectetur rhoncus. Sed fermentum velit vitae tortor varius, at finibus metus dictum. Vestibulum venenatis ex ut commodo faucibus.</p>
</modal-dialog>
<modal-dialog show='myData.gamerShown' width='310px' dialog-title='Gamer'>
  <p>Quisque interdum pharetra ligula et pellentesque. Aenean pulvinar, dui nec facilisis elementum, est tellus interdum enim, id fringilla dui eros non magna. Sed nec malesuada nulla, sed fermentum sapien. Vestibulum vitae odio sit amet eros scelerisque tempor nec eget tortor. Nunc sit amet sagittis sem. In pellentesque ultricies dolor ac aliquet. Aliquam non fringilla mi. Praesent dignissim nibh id suscipit vulputate.</p>
</modal-dialog>
<modal-dialog show='myData.writerShown' width='310px' dialog-title='Writer'>
  <p>Maecenas fermentum mauris id dui mollis vehicula. Duis facilisis, quam commodo vehicula eleifend, mauris ante lobortis augue, ut eleifend nulla purus vitae lacus. Donec ac sollicitudin ex. Donec sed mollis eros. Aenean facilisis, neque id dapibus elementum, eros mi vehicula augue, eget varius massa purus nec risus. Vivamus posuere, sapien imperdiet bibendum eleifend, nibh ligula elementum elit, non sollicitudin augue tellus vitae libero. Donec efficitur eu dui eget egestas.</p>
</modal-dialog>
<modal-dialog show='myData.autoShown' width='310px' dialog-title='Powershell Automation'>
  <p>Aliquam mattis ultricies magna eu rhoncus. Ut sed erat id metus feugiat maximus. Donec rhoncus arcu vitae arcu volutpat, eu interdum eros vehicula. Phasellus egestas purus vel risus tristique, sit amet rutrum nulla ultrices. Proin placerat non diam ac fringilla. Curabitur eleifend ex ex, nec faucibus nisl lobortis id. Suspendisse in tellus varius, gravida velit nec, finibus est. Quisque imperdiet, leo ac varius lacinia, erat mi maximus dolor, et facilisis risus eros eget dui.</p>
</modal-dialog>
<modal-dialog show='myData.responsiveShown' width='310px' dialog-title='Responsive Web Design'>
  <p>Aliquam mattis ultricies magna eu rhoncus. Ut sed erat id metus feugiat maximus. Donec rhoncus arcu vitae arcu volutpat, eu interdum eros vehicula. Phasellus egestas purus vel risus tristique, sit amet rutrum nulla ultrices. Proin placerat non diam ac fringilla. Curabitur eleifend ex ex, nec faucibus nisl lobortis id. Suspendisse in tellus varius, gravida velit nec, finibus est. Quisque imperdiet, leo ac varius lacinia, erat mi maximus dolor, et facilisis risus eros eget dui.</p>
</modal-dialog>
<modal-dialog show='myData.opsShown' width='310px' dialog-title='IT Operations'>
  <p>Quisque lobortis pellentesque tincidunt. Fusce vitae risus nec arcu cursus posuere non ac magna. Integer vel eleifend risus. Aliquam interdum, ligula id mattis mattis, ante massa auctor sem, eget aliquam justo metus at quam. In placerat odio lorem, vitae lobortis justo lobortis pellentesque. Mauris posuere iaculis neque eu accumsan. Maecenas venenatis imperdiet malesuada. Praesent dapibus, lorem et tincidunt blandit, turpis lacus fermentum lorem, ac porttitor risus quam at tellus. Sed vehicula tortor sed tellus commodo, rutrum pulvinar arcu ullamcorper. Aenean ut risus ac ipsum hendrerit feugiat. Mauris consectetur sem nec augue consequat, quis hendrerit metus ultrices. Fusce quis viverra leo. Nulla ultrices felis sit amet libero rhoncus tristique. Praesent ac massa a massa imperdiet convallis vel gravida turpis.</p>
</modal-dialog>
<modal-dialog show='myData.stillShown' width='310px' dialog-title='Still Photography'>
  <p>Proin pretium augue et finibus ullamcorper. Ut eget fringilla libero. Etiam congue quam ac viverra sagittis. Ut ac auctor massa, quis cursus velit. Vivamus malesuada justo quis tellus lacinia iaculis. Vestibulum et neque sed orci tincidunt dapibus in vel risus. Aenean convallis quam mollis viverra fringilla. In hac habitasse platea dictumst. Nam ultrices orci at ullamcorper tristique. Cras et justo a ligula gravida pulvinar. Maecenas vitae quam lectus. Morbi rhoncus malesuada tempus</p>
</modal-dialog>
<modal-dialog show='myData.postersShown' width='310px' dialog-title='Abstract Posters'>
  <p>Duis non pretium lacus, non tincidunt erat. Sed ac lacus nec ligula maximus lobortis ac vitae urna. Suspendisse potenti. Maecenas mollis sit amet dui eu porta. Aliquam vestibulum lorem sit amet diam imperdiet porttitor. Vivamus accumsan diam feugiat mi euismod tristique. Morbi sollicitudin tortor ut augue dignissim, et tempus dolor placerat. Aenean pretium leo in neque vulputate, vitae dictum magna pharetra.</p>
</modal-dialog>
<modal-dialog show='myData.booksShown' width='310px' dialog-title='Book Sales'>
  <p>Proin consectetur dolor pulvinar felis porttitor, ut placerat quam varius. Morbi id urna eu nisi mollis sodales. Donec ex mi, consequat id elit ut, bibendum gravida libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus augue sem, semper et congue non, lobortis ultrices elit. Ut id rutrum ex, sed placerat eros. Nulla nec enim vulputate, rutrum sapien egestas, aliquam tellus. Aliquam sodales quam eu finibus rhoncus. Aliquam aliquet enim velit, id condimentum arcu convallis viverra.</p>
</modal-dialog>

<img class="bg_pic1" src="images/bg_pic_left.jpg" alt=""/>
<img class="bg_pic2" src="images/bg_pic_right.jpg" alt=""/>
<!--========================================================
                          HEADER
=========================================================-->
<header id="header">
  <div id="stuck_container">
    <div class="wrapper">
      <h1>
        <a href="index.html">
          <span class="first">Kelcey</span>
          <span class="second">Vehanen</span>
          <span class="third">Technologist</span>
        </a>
      </h1>
      <nav>
        <ul class="sf-menu"  ng-cloak>
          <li><a ng-click="SetShowToFalse(); argaliMenu = true">Argali <i class="fa fa-info-circle"></i></a></li>
                  <li ng-show="argaliMenu"><a href="#">> What is Argali?</a></li>
                  <li ng-show="argaliMenu"><a href="#">> Architecture</a></li>
                  <li ng-show="argaliMenu"><a ng-click="argaliDemoMenu = true">> Demos</a></li>
                      <li ng-show="argaliDemoMenu"><a href="#">--> Windows</a></li>
                      <li ng-show="argaliDemoMenu"><a href="#">--> Linux</a></li>
                      <li ng-show="argaliDemoMenu"><a href="#">--> Unix</a></li>
                      <li ng-show="argaliDemoMenu"><a href="#">--> VMware</a></li>
                      <li ng-show="argaliDemoMenu"><a href="#">--> REST</a></li>
                      <li ng-show="argaliDemoMenu"><a href="#">--> All in One</a></li>
                  <li ng-show="argaliMenu"><a href="#">> Documentation</a></li>
                  <li ng-show="argaliMenu"><a href="#">> FAQ</a></li>
          <li><a ng-click="SetShowToFalse(); photoMenu = true">Photography <i class="fa fa-camera-retro"></i></a></li>
                  <li ng-show="photoMenu"><a href="#">> Latest</a></li>
                  <li ng-show="photoMenu"><a href="#">> Portfolio</a></li>
                  <li ng-show="photoMenu"><a href="#">> Relatives</a></li>
                  <li ng-show="photoMenu"><a href="#">> Books</a></li>
          <li><a  ng-click="SetShowToFalse(); bryceMenu = true">Digital Art <i class="fa fa-paint-brush"></i></a></li>
                  <li ng-show="bryceMenu"><a href="#">> Latest</a></li>
                  <li ng-show="bryceMenu"><a href="#">> Portfolio</a></li>
                  <li ng-show="bryceMenu"><a href="#">> Books</a></li>
          <li><a  ng-click="SetShowToFalse(); powershellMenu = true">Powershell <i class="fa fa-terminal"></i></a></li>
                  <li ng-show="powershellMenu"><a href="#">> Get-AdvancedTips</a></li>
                  <li ng-show="powershellMenu"><a href="#">> Get-Framework</a></li>
                  <li ng-show="powershellMenu"><a href="#">> Get-StyleGuide</a></li>
          <li><a  ng-click="SetShowToFalse(); minecraftMenu = true">Minecraft <i class="fa fa-gamepad"></i></a></li>
                  <li ng-show="minecraftMenu"><a href="#">> Server Info</a></li>
                  <li ng-show="minecraftMenu"><a href="#">> Custom ModPack</a></li>
                  <li ng-show="minecraftMenu"><a href="#">> Latest Images</a></li>
          <li><a  ng-click="SetShowToFalse(); writerMenu = true">About/Blogs<i class="fa fa-pencil-square-o"></i></a></li>
                  <li ng-show="writerMenu"><a href="#">> Who is Kelcey?</a></li>
                  <li ng-show="writerMenu"><a href="#">> Media Feeds</a></li>
                  <li ng-show="writerMenu"><a href="#">> Technology Blog</a></li>
                  <li ng-show="writerMenu"><a href="#">> Pixel-DM</a></li>
                  <li ng-show="writerMenu"><a href="#">> Old Poet</a></li>
          <li><a  ng-click="SetShowToFalse(); contactMenu = true">Contact me <i class="fa fa-envelope"></i></a></li>
        </ul>
      </nav>
    </div>
    <div class="clearfix"></div>

  </div>
</header>
<div class="mar_l_216">
<div class="">

  <div class="row">
    <div class="grid_12">
      <div class='bg_wrapp'>
<!--========================================================
                          CONTENT
=========================================================-->
<section id="content">
  <div id="home" class="hashAncor"></div>
    <div class="wrapper1">
      <div class="container"  ng-cloak>
        <div class="row">
          <div class="grid_10 tac  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
            <h3><span>Thank You</span></h3>
            <p class="p1 mar_t_2">I appreciate you stopping by the page to see my work. This site is dedicated to all that I love. Everything posted on this site is DRM free/open source and you may take whatever you can use. This entire site runs on my Argali SOA, which is my lifes' most prideful creation. Click around for more detail</p>
          </div>
        </div>
        <ul class="row mar_t_1">
          <li class="grid_5 mar_t_2 tac  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
          <img class="pic" src="images/p1_pic1.jpg" alt=""/>
          <a ng-click='toggleTech()' class="btn-default">Technologist</a>
          </li>
          <li class="grid_5 mar_t_2 tac wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
          <img class="pic" src="images/p1_pic2.jpg" alt=""/>
          <a ng-click='toggleArtist()' class="btn-default">Artist</a>
          </li>
        </ul>
        <ul class="row">
          <li class="grid_5 mar_t_2 tac wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
          <img class="pic" src="images/p1_pic3.jpg" alt=""/>
          <a ng-click='toggleGamer()' class="btn-default">Gamer</a>
          </li>
          <li class="grid_5 mar_t_2 tac wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
          <img class="pic" src="images/p1_pic4.jpg" alt=""/><br>
          <a ng-click='toggleWriter()' class="btn-default">Writer</a>
          </li>
        </ul>
      </div>
    </div>
     <div class='wrapper2'>
     <div class="container">
        <div class="row">
          <div class="grid_10 tac  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
            <h3><span>About Me</span></h3>
          </div>
        </div>
     </div>           
  </div>
     <div class='wrapper3'>
      <div class="container">
        <div class="row">
          <div class="grid_3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s"> 
            <h4 class="">biography</h4>
            <a href="#"  class="a1 mar_t_1">I was born in San Diego, Ca.</a>
            <p class="">I was raised to be kind hearted, respectful, understanding, and like my dad before me, a technologist. I am grateful to my parents for all they have done; I am forever challenged to succeed by my beautiful wife and four delightful children. This site is a tribute to thank all of you for making all of this possible.</p>
          </div>
          <div class="grid_4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
            <h4 class="">Testimonials</h4>
            <p class="p3 mar_t_1">“ Mauris accumsan nulla vel diam. Sed in lacus ut enim adi piscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. ”</p>
            <p class="p3 mar_t_05"><span>- Dan Adams</span></p>
            <p class="p3 mar_t_05">“ “ Sed in lacus ut enim adi piscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula.”</p>
            <p class="p3 mar_t_05"><span>- Linda Grey</span></p>
          </div>
          <div class="grid_3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
            <h4 class=''>services</h4>
               <ul class='list_1 mar_t_05'>
                <li class=''><a ng-click='toggleAuto()'>Powershell Automation</a></li>
                <li class=''><a ng-click='toggleResponsive()'>Responsive Web Design</a></li>
                <li class=''><a ng-click='toggleOps()'>IT Operations</a></li>
                <li class=''><a ng-click='toggleStill()'>Still Photography</a></li>
                <li class=''><a ng-click='togglePosters()'>Abstract Posters</a></li>
                <li class=''><a ng-click='toggleBooks()'>Book Sales</a></li>
              </ul>
          </div>
        </div> 
      </div>          
    </div>
</section>
    </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer">
        <div class="privacy-block">
          &copy; 2015 Kelcey Vehanen<br> 
          All Rights Reserved<br><a href="#">Privacy policy</a>
        </div>
</footer>

<div class="modal fade response-message">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        You message has been sent! We will be in touch soon.
      </div>
    </div>
  </div>
</div>

<script src="js/script.js"></script>
</body>
</html>