<!DOCTYPE html>
<html lang="en">
<head>
  <title>www.pixelrebirth.com</title>
  <meta charset="utf-8">
  <meta name = "format-detection" content = "telephone=no" />
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/touchTouch.css">
  <link rel="stylesheet" href="css/contact-form.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/jquery.js"></script>
  <script src="js/jquery-migrate-1.2.1.js"></script>
  <script src="js/jquery.equalheights.js"></script>
  <script src="js/touchTouch.jquery.js"></script>
  <script src="js/TMForm.js"></script>
  <script src="js/modal.js"></script>
  <!--[if (gt IE 9)|!(IE)]><!-->
  <script src="js/wow/wow.js"></script>
  <script>
    $(document).ready(function () {
      if ($('html').hasClass('desktop')) {
        new WOW().init();
      }
    });
  </script>
  <!--<![endif]-->
  <script>
    $(document).ready(function () {
      $('.gallery a').touchTouch();
    });
  </script>
  <script src="js/angular.js"></script>
  <script src="js/MenuController.js"></script>
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
    
<!--<![endif]-->
  <!--[if lt IE 8]>
  <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
   </a>
  </div>
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
  <![endif]-->
</head>


<body class="home" ng-app="app">

<img class="bg_pic1" src="images/bg_pic_left.jpg" alt=""/>
<img class="bg_pic2" src="images/bg_pic_right.jpg" alt=""/>
<!--========================================================
                          HEADER
=========================================================-->
<header id="header">
  <div id="stuck_container">
    <div ng-controller="MenuController" class="wrapper">
      <h1>
        <a href="index.html">
          <span class="first">Kelcey</span>
          <span class="second">Vehanen</span>
          <span class="third">pixelrebirth.com</span>
        </a>
      </h1>
      <nav>
        <ul class="sf-menu">
          <li><a ng-click="SetShowToFalse(); argaliMenu = true">Argali <i class="fa fa-info-circle"></i></a></li>
                  <li ng-show="argaliMenu"><a href="#">> What is Argali?</a></li>
                  <li ng-show="argaliMenu"><a href="#">> Architecture</a></li>
                  <li ng-show="argaliMenu"><a ng-click="argaliDemoMenu = true">> Demos</a></li>
                      <li ng-show="argaliDemoMenu"><a href="#">--> Windows</a></li>
                      <li ng-show="argaliDemoMenu"><a href="#">--> DSC</a></li>
                      <li ng-show="argaliDemoMenu"><a href="#">--> Linux</a></li>
                      <li ng-show="argaliDemoMenu"><a href="#">--> Unix</a></li>
                      <li ng-show="argaliDemoMenu"><a href="#">--> VMware</a></li>
                      <li ng-show="argaliDemoMenu"><a href="#">--> REST</a></li>
                  <li ng-show="argaliMenu"><a href="#">> Documentation</a></li>
                  <li ng-show="argaliMenu"><a href="#">> FAQ</a></li>
          <li><a ng-click="SetShowToFalse(); photoMenu = true">Photography <i class="fa fa-camera-retro"></i></a></li>
                  <li ng-show="photoMenu"><a href="#">> Latest</a></li>
                  <li ng-show="photoMenu"><a href="#">> Portfolio</a></li>
                  <li ng-show="photoMenu"><a href="#">> Relatives</a></li>
                  <li ng-show="photoMenu"><a href="#">> Books</a></li>
          <li><a  ng-click="SetShowToFalse(); bryceMenu = true">Digital Art <i class="fa fa-paint-brush"></i></a></li>
                  <li ng-show="bryceMenu"><a href="#">> Latest</a></li>
                  <li ng-show="bryceMenu"><a href="#">> Portfolio</a></li>
                  <li ng-show="bryceMenu"><a href="#">> Books</a></li>
          <li><a  ng-click="SetShowToFalse(); powershellMenu = true">Powershell <i class="fa fa-terminal"></i></a></li>
                  <li ng-show="powershellMenu"><a href="#">> Get-AdvancedTips</a></li>
                  <li ng-show="powershellMenu"><a href="#">> Get-Framework</a></li>
                  <li ng-show="powershellMenu"><a href="#">> Get-StyleGuide</a></li>
          <li><a  ng-click="SetShowToFalse(); minecraftMenu = true">Minecraft <i class="fa fa-gamepad"></i></a></li>
                  <li ng-show="minecraftMenu"><a href="#">> Server Info</a></li>
                  <li ng-show="minecraftMenu"><a href="#">> Custom ModPack</a></li>
                  <li ng-show="minecraftMenu"><a href="#">> Latest Images</a></li>
          <li><a  ng-click="SetShowToFalse(); writerMenu = true">About/Blogs<i class="fa fa-pencil-square-o"></i></a></li>
                  <li ng-show="writerMenu"><a href="#">> Who is Kelcey?</a></li>
                  <li ng-show="writerMenu"><a href="#">> Media Feeds</a></li>
                  <li ng-show="writerMenu"><a href="#">> Technology Blog</a></li>
                  <li ng-show="writerMenu"><a href="#">> Pixel-DM</a></li>
                  <li ng-show="writerMenu"><a href="#">> Old Poet</a></li>
          <li><a  ng-click="SetShowToFalse(); contactMenu = true">Contact me <i class="fa fa-envelope"></i></a></li>
        </ul>
      </nav>
    </div>
    <div class="clearfix"></div>

  </div>
</header>
<div class="mar_l_216">
<div class="">

  <div class="row">
    <div class="grid_12">
      <div class='bg_wrapp'>
<!--========================================================
                          CONTENT
=========================================================-->
<section id="content">

  <div id="home" class="hashAncor" style="height: 125px; margin-top: -125px; z-index: -1; position: relative;"></div>
  <div class="wrapper1">
    <div class="container">
      <div class="row">
        <div class="grid_10  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
          <h2>hI! i AM fRANK rOSSO.</h2>
          <p class="p1 mar_t_2">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam.</p>
        </div>
      </div>
      <ul class="row mar_t_1">
        <li class="grid_5 mar_t_2 tac  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
        <img class="pic" src="images/p1_pic1.jpg" alt=""/>
        <p class="p2">Fashion</p>
        <a href="#" class="btn-default">VIEW MORE</a>
        </li>
        <li class="grid_5 mar_t_2 tac wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
        <img class="pic" src="images/p1_pic2.jpg" alt=""/>
        <p class="p2">Nature</p>
        <a href="#" class="btn-default">VIEW MORE</a>
        </li>
      </ul>
            <ul class="row">
        <li class="grid_5 mar_t_2 tac wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
        <img class="pic" src="images/p1_pic3.jpg" alt=""/>
        <p class="p2">People</p>
        <a href="#" class="btn-default">VIEW MORE</a>
        </li>
        <li class="grid_5 mar_t_2 tac wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
        <img class="pic" src="images/p1_pic4.jpg" alt=""/>
        <p class="p2">Food</p>
        <a href="#" class="btn-default">VIEW MORE</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="about" class="hashAncor"></div>
     <div class='wrapper2'>
     <div class="container">
        <div class="row">
          <div class="grid_10 tac  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
            <h3><span>about me</span></h3>
          </div>
        </div>
          
        <div class="row">
          <div class="grid_5 mar_t_2  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
            <img class="" src="images/p1_pic5.jpg" alt=""/> 
          </div>
          <div class="grid_5 mar_t_2 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
            
            <a href="#" class="a1">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.</a>
            <p class="mar_t_3">
              Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus.
            </p>
          </div>   
        </div> 
     </div>           
  </div>

     <div class='wrapper3'>
      <div class="container">
        <div class="row">
          <div class="grid_3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s"> 
            <h4 class="">biography</h4>
            <a href="#"  class="a1 mar_t_1">Fusce euismod consequat ante.</a>
            <p class="">Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim,</p>
          </div>

          <div class="grid_4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
            <h4 class="">Testimonials</h4>
            <p class="p3 mar_t_1">“ Mauris accumsan nulla vel diam. Sed in lacus ut enim adi piscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. ”</p>
            <p class="p3 mar_t_05"><span>- Dan Adams</span></p>
            <p class="p3 mar_t_05">“ “ Sed in lacus ut enim adi piscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula.”</p>
            <p class="p3 mar_t_05"><span>- Linda Grey</span></p>
          </div>
          <div class="grid_3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
            <h4 class=''>services</h4>
               <ul class='list_1 mar_t_05'>
                <li class=''><a href="#">Vestibulum iaculis</a></li>
                <li class=''><a href="#">Lacinia est</a></li>
                <li class=''><a href="#">Proin dictum</a></li>
                <li class=''><a href="#">Elementum velit</a></li>
                <li class=''><a href="#">Consequat ante</a></li>
              </ul>
          </div>
        </div> 
      </div>          
    </div>  
  <div id="works" class="hashAncor"></div>
    <div class='wrapper3'>
      <div class="container">
        <div class="row">
          <div class="grid_10 tac  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
            <h3><span>works</span></h3>
          </div>
        </div>
        <div class="row gallery mar_t_15">
          <div class="grid_5 mar_t_2">
            <div class="gallery_image wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
              <a href="images/p2_pic6_big.jpg">
                <img src="images/p1_pic6.jpg" alt=""/>
                <div class="gallery_icon"><i class="fa fa-search"></i></div>
              </a>
            </div>
          </div>
          <div class="grid_5 mar_t_2">
            <div class="gallery_image wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">

              <a href="images/p2_pic7_big.jpg">
                <img src="images/p1_pic7.jpg" alt=""/>
                <div class="gallery_icon"><i class="fa fa-search"></i></div>
              </a>
            </div>
          </div>
          <div class="grid_10 mar_t_2">
            <div class="gallery_image wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
              <a href="images/p2_pic8_big.jpg">
                <img src="images/p1_pic8.jpg" alt=""/>
                <div class="gallery_icon"><i class="fa fa-search"></i></div>
              </a>
            </div>
          </div>
          <div class="grid_5 mar_t_2">
            <div class="gallery_image wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
              <a href="images/p2_pic9_big.jpg">
                <img src="images/p1_pic9.jpg" alt=""/>
                <div class="gallery_icon"><i class="fa fa-search"></i></div>
              </a>
            </div>
          </div>
          <div class="grid_5 mar_t_2">
            <div class="gallery_image wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
              <a href="images/p2_pic10_big.jpg">
                <img src="images/p1_pic10.jpg" alt=""/>
                <div class="gallery_icon"><i class="fa fa-search"></i></div>
              </a>
            </div>
          </div>
        </div>
        <div class="row mar_t_3">
          <div class="grid_10 tac wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
            <a href="#" class="btn-default">VIEW MORE</a>
          </div>
        </div>
      </div>
    </div>
  <div id="contacts" class="hashAncor" style="height: 125px; margin-top: -125px; z-index: -1; position: relative;"></div>
  <div class="wrapper4">
    <div class="container">
        <div class="row">
          <div class="grid_10 tac wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
            <h3><span>contact me</span></h3>
          </div>
        </div>
      <div class="row">
        <div class="grid_10 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
          <form id="contact-form">
            <div class="contact-form-loader"></div>
            <fieldset>
              <div class="row">
                <div class="grid_3 mar_t_5">
                  <label class="name wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                    <input type="text" name="name" placeholder="Name:" data-constraints="@Required @JustLetters"/>
                    <span class="empty-message">*This field is required.</span>
                  </label>

                  <label class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <input type="text" name="Test" placeholder="Test:" value=""
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid email.</span>
                  </label>

                  <label class="email wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <input type="text" name="email" placeholder="Email:" value=""
                           data-constraints="@Required @Email"/>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid email.</span>
                  </label>

                  <label class="phone wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <input type="text" name="phone" placeholder="Phone:" value=""
                           data-constraints="@Required @JustNumbers"/>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid phone.</span>
                  </label>
                </div>
                <div class="grid_7 mar_t_5">
                  <label class="message wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <textarea name="message" placeholder="Message:"
                              data-constraints='@Required @Length(min=20,max=999999)'></textarea>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*The message is too short.</span>
                  </label>
                </div>
              </div>
              <!-- <label class="recaptcha"><span class="empty-message">*This field is required.</span></label> -->

              <div class="row">
                <div class="grid_7 preffix_3">
                  <div class="contact-form-buttons">
                    <a data-type="submit" class="btn-default  wow flipInX" data-wow-delay="0.5s" data-wow-duration="1s">submit</a>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div id="home" class="hashAncor" style="height: 125px; margin-top: -125px; z-index: -1; position: relative;"></div>
     <div class='wrapper1'>
      <div class="container">
        <div class="row">
          <div class="grid_5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s"> 
            <h4 class="">Blank Spacer</h4>
            <a href="#"  class="a1 mar_t_1">This is just until I can build some content.</a>
            <p class="">Start<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>End<br><br><br></p>
          </div>
        </div> 
      </div>          
    </div> 
</section>
      </div>
    </div>
  </div>
</div>
</div>
<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer">
        <div class="privacy-block">
          &copy; 2015 Kelcey Vehanen<br> 
          All Rights Reserved<br><a href="#">Privacy policy</a>
        </div>
</footer>

<div class="modal fade response-message">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        You message has been sent! We will be in touch soon.
      </div>
    </div>
  </div>
</div>

<script src="js/script.js"></script>
</body>
</html>