<!doctype html>
<html>
  <head>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/signin.css" rel="stylesheet" />
    <script src="js/angular.min.js"></script>
    <script src="js/Controller.js"></script>
  </head>
  <body ng-app="app">
  	<div class="main" ng-controller="Controller" class="container">
      <h1>Windows Argali Testing</h1>
      <h2>{{ generalMessage }}</h2>
      <form name="authForm" ng-submit="getToken()">
          <input type="text" ng-model="username" ng-required="true">
          <input type="password" ng-model="password" ng-required="true"> 
          <input type="submit" class="btn btn-primary"><br>
       </form>
      <div ng-show="showContent" ng-repeat="eachObject in objects.value">
        <br>
        Name: {{ eachObject.Name }} <br>
        Mode: {{ eachObject.Mode }} <br>
        Attributes: {{ eachObject.Attributes }} <br>
        ------------
      </div>
      <div><button class="btn btn-success" ng-click="loadJson()">LoadContent</button></div>
  	</div>
  </body>